<div class="post-about-me-section">
    <h2><i class="far fa-user"></i> About me</h2>
    <div class="post-about-me-layout">
        <div class="post-about-me-text">
            <h4><i>Tech Lead ( SDE IV ) @Flipkart (India) and pursuing Masters in CS [ML & AI] @Georgia Tech (Atlanta)</i></h4>
            7+ years of professional experience in software design and development for large scale applications. Along
            side work, pursuing Masters in Computer Science from Georgia Tech in Machine Learning and Artificial
            Intelligence. Expertise in leading agile team with scrum and project management.
        </div>
        <div class="post-about-me-image">
            <div class="image-cropper">
                <img src="/public/images/b_w_avatar_pic_2.jpg" alt="avatar" class="profile-pic">
            </div>
        </div>
    </div>

</div>