---
layout: default
---
<div class="post" id="post_container">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta-data-area">
            <span class="post-date">{{ page.date | date_to_string }} | {{ page.read_minutes }} minutes read</span>
            {% if page.project_github_repo != nil %}
                <span class="post-meta-data-icon">
                    <a href="{{page.project_github_repo}}" class="square_btn"><i class="fab fa-github"></i> Code</a>
                </span>
            {% endif %}
            {% if page.project_live_demo_website != nil %}
                <span class="post-meta-data-icon">
                    <a href="{{page.project_live_demo_website}}" class="square_btn"><i class="fas fa-laptop-code"></i> Demo Site</a>
                </span>
            {% endif %}
            {% if page.project_live_demo_notebook != nil %}
                <span class="post-meta-data-icon">
                    <a href="{{page.project_live_demo_notebook}}" class="square_btn"><i class="fab fa-python"></i> Python Notebook</a>
                </span>
            {% endif %}
            {% if page.project_video != nil %}
                <span class="post-meta-data-icon">
                    <a href="{{page.project_video}}" class="square_btn"><i class="fab fa-youtube"></i> Demo Video</a>
                </span>
            {% endif %}


        </span>

    {% if page.research_paper_on_page %}

        {% include research_paper_addition.html %}

    {% endif %}

    {{ content }}
</div>
<br>

{% include small_about_me.html %}

<div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <li>
            <h3>
                <a href="{{ post.url }}">
                    {{ post.title }}
                    <small>{{ post.date | date_to_string }}</small>
                </a>
            </h3>
        </li>
        {% endfor %}
    </ul>
</div>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
        this.page.url = "{{site.url}}{{page.url}}";
        this.page.identifier = "{{page.id}}";
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://http-anmolkapoor-in.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

{% endif %}
