---
layout: default
---
{{content}}
<div>
    
    {% for post in site.posts %}
    <div id="post_element">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>
        <span class="post-date">{{ post.date | date_to_string }} | {{ post.read_minutes }} minutes read</span>

        <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>        
      </div>      
      <hr>
    {% endfor %}

</div>